*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: monospace, sans-serif;
  background: #ff608c;
  transition: 0.4s ease;
  color: white;
}
html {
  scroll-behavior: smooth;
  scroll-padding: 1.4rem;
}
nav {
  position: fixed;
  top: 0;
  padding: 1.4rem;
  background: #dddddda6;
  width: 100%;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-weight: 700;
    font-size: min(1.2rem, 3vw);
    text-align: center;
    gap: min(3rem, 3vw);
    li {
      list-style: none;
    }
  }
  a {
    text-decoration: none;
    color: #000;
    &:hover {
      color: white;
    }
  }
}
html {
  scroll-snap-type: y proximity;
}
main {
  section {
    scroll-snap-align: start;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    flex-direction: column;
    font-weight: 600;
    gap: 1rem;
    color: #000;
    font-size: max(1rem, 1.4vw);
    text-align: center;
    img {
      width: max(30vw, 300px);
      height: auto;
    }
    a {
      text-decoration: none;
    }
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
  }
}
